;; shadow-cljs configuration
{:deps {:aliases [:cljs :shadow :devtools]}

 :http {:host "watch"}
 
 :builds
 {:script 
  {:target    :node-script
   :main      midenfy.core/main
   :output-to "midenfy.js"
   :devtools {:devtools-url "http://watch:9630"
              :autoload true
              :ignore-warnings true}}
  :test
  {:target    :node-test
   :output-to "out/node-tests.js"
   :autorun   true}}}
