;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[org.clojure/tools.cli "1.0.214"]]

 :http {:host "watch"}
 
 :builds
 {:script 
  {:target    :node-script
   :main      midenfy.core/main
   :output-to "midenfy.js"
   :devtools {:devtools-url "http://watch:9630"
              :autoload true
              :ignore-warnings true}}
  :test
  {:target    :node-test
   :output-to "out/node-tests.js"
   :autorun   true}}}
